<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="CSV.Fixer.plugin.commands.category"
            id="CSV.Fixer.plugin.commands.FixTGCounterCommand"
            name="Fix telegramcounter in selected editor">
      </command>
      <command
            categoryId="CSV.Fixer.plugin.commands.category"
            id="CSV.Fixer.plugin.commands.toggleCommentCommand"
            name="Toggle comment in selected line">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="CSV.Fixer.plugin.commands.FixTGCounterCommand"
            class="csv.fixer.plugin.handlers.CSVFixerHandler">
      </handler>
      <handler
            class="csv.fixer.plugin.handlers.CSVToggleCommentHandler"
            commandId="CSV.Fixer.plugin.commands.toggleCommentCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="CSV.Fixer.plugin.commands.FixTGCounterCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            commandId="CSV.Fixer.plugin.commands.toggleCommentCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+5">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="CSV"
               mnemonic="M"
               id="CSV.Fixer.plugin.menus.csvFixer">
            <command
                  commandId="CSV.Fixer.plugin.commands.FixTGCounterCommand"
                  mnemonic="S"
                  id="CSV.Fixer.plugin.menus.FixTGCounterCommand">
            </command>
            <command
                  commandId="CSV.Fixer.plugin.commands.toggleCommentCommand"
                  id="CSV.Fixer.plugin.menus.toggleCommentCommand"
                  mnemonic="S">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
           <editor
	            class="csv.fixer.plugin.editor.CSVEditor"
	            icon="icons/myC.png"
	            id="org.eclipse.ui.examples.contributions.editor"
	            name="CSVFixerEditor">
	      </editor>
   </extension>

</plugin>
